* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center ;
    height: 100vh;
    width: 100vw;

}

 .btn-primary{
    top: 50%;
    padding: 8px 16px;
    margin-bottom: 12px;
    width: 320px;
    height: 39.6px;
    background-color: #5b5fc7;
}
.btn-primary:hover{
    background-color: #474bc7;
}

#btn-openModal{
    background-color: transparent;
    color: black;
}

#newMeeting_Modal{
    width: 50vh;
    height: 50vh;
}


