* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    margin-bottom: 10px;
    width: 100%;
}

nav {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav li a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin: 50px ;
}




        .flex-container {
            display: flex;
            justify-content: center;
            align-items: center; /* Căn giữa theo chiều dọc */
            gap: 15px; 

        }

/* .meeting-btn {
    background-color: #4285f4;
    color: white;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
} */

        .meeting-btn, .join-btn {
            background-color: #4285f4;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 10px;
            font-size: 16px;
            cursor: pointer;
        }

        .meeting-btn .icon {
            margin-right: 8px;
        }

.meeting-btn:hover {
    background-color: #357ae8;
}

.input-meeting {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}
 input:focus+.placeholder-text {
     display: none;
 }

.join-btn {
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #f4f4f4;
    color: darkgray;
}
.join-btn.active {
    background-color: transparent;
    cursor: pointer;
}

.join-btn.active:hover {
    color:rgb(13, 100, 193);
    background-color: rgb(230, 236, 241);
}
 .input_container {
     position: relative;
     display: flex;
     align-items: center;
 }

 .input_container .icon {
     position: absolute;
     left: 10px;
     top: 50%;
     transform: translateY(-50%);
     pointer-events: none;
 }

 .input_container input[type="text"] {
     padding-left: 40px;
     /* Chừa không gian cho icon */
     padding-right: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     border: 2px solid #0066ff;
     border-radius: 5px;
     width: 300px;
     font-size: 16px;
     color: #666;
 }

 input[type="text"]::placeholder {
     font-size: 16px;
     color: #666;
 }

 input[type="text"]:focus {
     outline: none;
     border-color: #0066ff;
 }

 footer {
     background-color: #333;
     color: white;
     text-align: center;
     padding: 10px 0;
     position: fixed;
     width: 100%;
     bottom: 0;
 }